    /*
    Flaticon icon font: Flaticon
    Creation date: 29/10/2018 16:30
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-listen:before { content: "\f100"; }
.flaticon-cursor:before { content: "\f101"; }
.flaticon-talking:before { content: "\f102"; }
.flaticon-paper-plane:before { content: "\f103"; }
.flaticon-monitor:before { content: "\f104"; }
.flaticon-info:before { content: "\f105"; }
.flaticon-scroll:before { content: "\f106"; }
.flaticon-ancient-scroll:before { content: "\f107"; }
.flaticon-papyrus:before { content: "\f108"; }
.flaticon-paper:before { content: "\f109"; }
.flaticon-scroll-1:before { content: "\f10a"; }
    
    $font-Flaticon-listen: "\f100";
    $font-Flaticon-cursor: "\f101";
    $font-Flaticon-talking: "\f102";
    $font-Flaticon-paper-plane: "\f103";
    $font-Flaticon-monitor: "\f104";
    $font-Flaticon-info: "\f105";
    $font-Flaticon-scroll: "\f106";
    $font-Flaticon-ancient-scroll: "\f107";
    $font-Flaticon-papyrus: "\f108";
    $font-Flaticon-paper: "\f109";
    $font-Flaticon-scroll-1: "\f10a";