{% extends "base.html" %}
{% block content %}
<html lang="nl"><head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Responsive to mobile devices -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>
	<body style="font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif'">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">De maat van het Middelnederlands</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active">
						<a class="nav-link" href="{{ url_for('scansion') }}">Scandeer!<span class="sr-only"></span></a>
					</li>
				</ul>
				<p class="navbar-text">Welkom, {{ current_user.username }}!</p>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> Registreer</a></li>
					<li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Aanmelden</a></li>
				</ul>
			</div>
		</nav>
		<div class="jumbotron jumbotron-fluid text-center">
				<h1 class="display-4" style="font-family: 'Palatino'">De maat van het<br><h1 style="color:firebrick" class="medievalfont">Middelnederlands</h1>
				<hr class="my-4">
				<p>Hier komt de informatie over de taak, de verschillende stappen die men zal ondernemen.</p>
				<p class="lead">
				   <a class="btn btn-primary btn-lg" href="{{ url_for('scansion') }}" role="button">Scandeer!</a>
				</p>
			</div>
		<div class="row">
		<div class="text-center">
			<h5>Meer informatie</h5>
			<p>Dit experiment wordt uitgevoerd door Wouter Haverals<br> Voor meer informatie, stuur een e-mail naar: <a href="mailto:wouter.haverals@uantwerpen.be">Wouter.Haverals@UAntwerpen.be</a></p>
		</div>
		</div>
	</body>
</html>

{% endblock %}

<script>
	
	function openNav() {
		document.getElementById("myNav").style.width = "100%";
		}
			
	function closeNav() {
		document.getElementById("myNav").style.width = "0%";
		}
	</script>